@*@page "/home/{IdUser:int}"*@
@page "/home"
@layout MainLayout
<h3>Home</h3>

@*<p>Bienvenido usuario @IdUser</p>
*@
<p>Bienvenido usuario</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
 //   [Parameter]
	//public int IdUser { get; set; }
}
